.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: white;
    max-width: 1280px;
    height: 80px;
    padding: 0 76px;
    box-shadow: 1px 5px 5px rgb(205, 203, 203)
}

div.logo-container{
    display: flex;
}

div.logo-img {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

span.logo-title {
    font-style:normal; 
    font-size: 2rem;
    font-weight: bold;
    padding-left: 12px;
    text-align: left;
    cursor: pointer
}

div.hamburger-button {
    cursor: pointer;
}