.footer-container {
    display: flex;
    justify-content:center;
    align-items: center;
    position: sticky;
    background-color: white;
    color: rgb(136,136,136);
    max-width: 1280px;
    height: 58px;
    padding: 100 76px;
    border-top: 1px solid rgba(0,0,0,0.05);
}

ul{
    list-style: none;
    text-align: center;
}


